* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
  height: 50rem;
}

.carousel .carousel-item {
  height: 35rem;
  width: 23rem;
}

.carousel .carousel0 {
  animation: slide1 infinite 10s ease-in-out;
}
.carousel .carousel1 {
  animation: slide2 infinite 10s ease-in-out;
}
.carousel .carousel2 {
  animation: slide3 infinite 10s ease-in-out;
}
.carousel .carousel3 {
  animation: slide4 infinite 10s ease-in-out;
}
.carousel .carousel4 {
  animation: slide5 infinite 10s ease-in-out;
}
.carousel .carousel5 {
  animation: slide6 infinite 10s ease-in-out;
}

@keyframes slide1 {
  0% {
    z-index: 0;
    opacity: 1;
    visibility: visible;
    transform: translateX(540px) translateY(130px) translateX(0) translateX(0px)
      translateZ(0px);
  }
  20% {
    transform: translateX(540px) translateY(130px) translateX(334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  40% {
    transform: translateX(540px) translateY(130px) translateX(668px)
      translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
  }
  60% {
    transform: translateX(540px) translateY(130px) translateX(-668px)
      translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
  }
  80% {
    transform: translateX(540px) translateY(130px) translateX(-334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  100% {
    z-index: 0;
    opacity: 1;
    visibility: visible;
    transform: translateX(540px) translateY(130px) translateX(14px)
      translateX(0px) translateZ(0px);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(540px) translateY(130px) translateX(334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  20% {
    transform: translateX(540px) translateY(130px) translateX(668px)
      translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
  }
  40% {
    transform: translateX(540px) translateY(130px) translateX(-668px)
      translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
  }
  60% {
    transform: translateX(540px) translateY(130px) translateX(-334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  80% {
    z-index: 0;
    opacity: 1;
    visibility: visible;
    transform: translateX(540px) translateY(130px) translateX(14px)
      translateX(0px) translateZ(0px);
  }
  100% {
    transform: translateX(540px) translateY(130px) translateX(334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
}

@keyframes slide3 {
  0% {
    transform: translateX(540px) translateY(130px) translateX(-668px)
      translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
  }
  20% {
    transform: translateX(540px) translateY(130px) translateX(-334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  40% {
    z-index: 0;
    opacity: 1;
    visibility: visible;
    transform: translateX(540px) translateY(130px) translateX(0) translateX(0px)
      translateZ(0px);
  }
  60% {
    transform: translateX(540px) translateY(130px) translateX(334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  80% {
    transform: translateX(540px) translateY(130px) translateX(668px)
      translateZ(-400px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  100% {
    transform: translateX(540px) translateY(130px) translateX(-668px)
      translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
  }
}

@keyframes slide4 {
  0% {
    transform: translateX(540px) translateY(130px) translateX(-668px)
      translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
  }
  20% {
    transform: translateX(540px) translateY(130px) translateX(-334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  40% {
    z-index: 0;
    opacity: 1;
    visibility: visible;
    transform: translateX(540px) translateY(130px) translateX(0) translateX(0px)
      translateZ(0px);
  }
  60% {
    transform: translateX(540px) translateY(130px) translateX(334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  80% {
    transform: translateX(540px) translateY(130px) translateX(668px)
      translateZ(-400px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  100% {
    transform: translateX(540px) translateY(130px) translateX(-668px)
      translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
  }
}

@keyframes slide5 {
  0% {
    transform: translateX(540px) translateY(130px) translateX(668px)
      translateZ(-400px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  20% {
    transform: translateX(540px) translateY(130px) translateX(-668px)
      translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
  }
  40% {
    transform: translateX(540px) translateY(130px) translateX(-334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  60% {
    z-index: 0;
    opacity: 1;
    visibility: visible;
    transform: translateX(540px) translateY(130px) translateX(0) translateX(0px)
      translateZ(0px);
  }
  80% {
    transform: translateX(540px) translateY(130px) translateX(334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  100% {
    transform: translateX(540px) translateY(130px) translateX(668px)
      translateZ(-400px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
}

@keyframes slide6 {
  0% {
    transform: translateX(540px) translateY(130px) translateX(-334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  20% {
    z-index: 0;
    opacity: 1;
    visibility: visible;
    transform: translateX(540px) translateY(130px) translateX(0) translateX(0px)
      translateZ(0px);
  }
  40% {
    transform: translateX(540px) translateY(130px) translateX(334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
  60% {
    transform: translateX(540px) translateY(130px) translateX(668px)
      translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
  }
  80% {
    transform: translateX(540px) translateY(130px) translateX(-668px)
      translateZ(-400px);
    z-index: -2;
    opacity: 0.2;
    visibility: visible;
  }
  100% {
    transform: translateX(540px) translateY(130px) translateX(-334px)
      translateZ(-200px);
    z-index: -1;
    opacity: 0.6;
    visibility: visible;
  }
}
